html{
    background-color: lightblue;
}
#board1{
    margin: auto;
}
#backDrop{
    margin: auto;
    margin-top: 100px;
    background-color: brown;
    width: 650px;
    height: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#title{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: orange;
    margin: auto;
    margin-top: 40px;
    background-color: lightskyblue;
    text-align: center;
    width: 600px;
    border-radius: 10px;
}